*,*::before,*::after{
    box-sizing: border-box;
}
body{
    margin: 0;
    overflow-x: hidden;
}

.top-left-div {
  /* top-left top-right bottom-right bottom-left */
  border-radius: 5px 20px 5px;
  background: #BADA55;
  width: 300px;
  height: 300px;
  position: fixed;
  top: 0;
  right: 0;
  transform: translate(50%, -50%) rotate(45deg); /* Moves center to top-right corner, then rotates */
  z-index: -20;
}