*,*::before,*::after{
    box-sizing: border-box;
}
body{
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    background-color: #f8fafc;
    color: #293264;
    font-family: "Karla", sans-serif;
}

.top-right-shape {
  position: fixed;
  top: 0;
  right: 0;
  width: 650px;
  height: 650px;
  background-color: #fef9c3; /* Light pastel yellow matching your image */
  /* Curves only the bottom-left inner corner while keeping top and right flat */
  border-bottom-left-radius: 100%;
  z-index: -20;
  pointer-events: none;
  transition: width 1.5s ease, height 1.5s ease;
}

.bottom-left-shape {
  position: fixed;
  bottom: -100px;
  left: -100px;
  width: 450px;
  height: 450px;
  background-color: #dbeafe; 
  border-radius: 40% 60% 70% 30% / 40% 50% 60% 50%;
  z-index: -10; 
  pointer-events: none;
  transition: width 0.4s ease, height 0.4s ease;
}

.after-shape{
  width: 250px;
  height: 250px;
}

main{
  /* background-color: aqua; */
  margin: 0 auto;
  width: 80vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:1.5em 0;
}

.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100vw;
    height: 100vh;
}
.hero h1{
   font-size: 2rem;
   font-weight: bold;
   margin: 0;
   margin-bottom:5px ;
}
.hero p{
    font-size: 1rem;
    font-family: "Inter", sans-serif;
    margin: 0;
    margin-bottom: 2em;
}
.start-button,.submit-btn{
    color: #F5F7FB;
    background-color: #4D5B9E;
    display: flex;
    justify-content: center;
    width: 200px;
    padding: 1em;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}

.start-button:hover,.start-button:focus
.submit-btn:hover,.submit-btn:focus{
    background-color:#293264;
    box-shadow: 1px 1px 1px grey;
}

.question-pad{
  border-bottom: 2px solid #DBDEF0;
  padding:1em 0;
  width: 100%;
}
.question-pad p{
  font-size: 1.10rem;
  font-weight: bold;
  margin: 0;
  margin-bottom: .5em;
  line-height: 1.5;
}


.radio-group{
  display: flex;
  align-items: center;
  gap: 5px;
}
/* 1. Visually hide the radio input and its default dot */
.radio-group input[type="radio"] {
  visibility: hidden;
}

/* 2. Style the span next to it as your custom pill button */
.btn-pill {
  font-family: "Inter", sans-serif;
  display: inline-block;
  padding: 5px 15px;
  border-radius: 10px;
  border: 2px solid #4D5B9E;
  color: #293264;
  cursor: pointer;
}

/* 3. When checked, style the pill button (no dot shown) */
.radio-group input[type="radio"]:checked + .btn-pill {
  background-color: #D6DBF5;
  border-color:  #D6DBF5;
}


.submit-section{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding: 2em 0;
}
.submit-section span{
  display: inline-block;
  font-family: "Inter",sans-serif;
  font-weight: bold;
  
}